<h2>Sign up</h2>
<div class="container ">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                autofocus: true,
                input_html: { autocomplete: "first name" }%>
    <%= f.input :last_name,
                autofocus: true,
                input_html: { autocomplete: "last name" }%>
    <%= f.input :age,
                autofocus: true,
                input_html: { autocomplete: "age" }%>
    <%= f.input :address,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
    <%= f.input :gender,
                autofocus: true,
                input_html: { autocomplete: "gender" }%>
    <%= f.input :birth_date,
                autofocus: true,
                input_html: { autocomplete: "birth date" }%>
    <%= f.input :nationality,
                autofocus: true,
                input_html: { autocomplete: "nationality" }%>
    <%= f.input :phone,
                autofocus: true,
                input_html: { autocomplete: "phone number" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :photo, as: :file %>
  </div>
  <% end %>

<div class="signin">
  <%= render "devise/shared/links"%>
</div>
</div>
