<div class="container-new-friend">
  <div class="new-friend">
    <h1>Register as a <strong>friend</strong> :</h1>
    <div class="about-me">
      <%= simple_form_for(@friend) do |f| %>
      <%= f.input :about_me %>
      <%= f.input :hobbies %>
      <%= f.input :price %>
      <%= f.input :zodiac_sign %>
      <%= f.input :availability %>
      <%= f.input :pronouns %>
        <div class="buttons1">
          <%= f.submit "Submit", class: "btn btn-success" %>
          <%= link_to 'Back to home page', friends_path(@friend), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
