  <div class="back">
      <button class="backbutton"><%= link_to 'Back To Home Page', friends_path(@friend) %></button>
    </div>
<div class="friend-profile-container">

  <div class="card-trip">
    <img src="https://assets.materialup.com/uploads/b6c33467-82c3-442c-a2dc-c089bbff9fa1/preview.png" />
    <div class="card-trip-infos">
      <div>
        <h1><%= @friend.user.first_name %> <%= @friend.user.last_name %></h1>
        <div class="details-list">
          <div>
          <h5>About Me</h5>
          <p><%= @friend.about_me %></p>
          </div>
          <div>
          <h5>My zodiac sign</h5>
          <p><%= @friend.zodiac_sign %></p>
          </div>
          <div>
          <h5>My hobbie</h5>
          <p><%= @friend.hobbies %></p>
          </div>
          <div>
          <h5>My pronouns</h5>
          <p><%= @friend.pronouns %></p>
          </div>
          </div>
          <div class="availability">
          <h2 class="card-trip-availability"> Availability: <%= @friend.availability %></h2>
          <h2 class="card-trip-pricing">Price: <%= @friend.price %> €</h2>
        </div>
        <div class="bookme">
        <button class="bookmebutton"><%= link_to "Book #{@friend.user.first_name}", new_friend_booking_path(@friend) %></button>
        </div>
      </div>
    </div>
  </div>
</div>
