<div class="friend-container">
  <% if @friend.user.photo.key %>
    <div class="friend-image" style="background-image: url('<%= cl_image_path @user.photo.key, backgroundsize: :cover, crop: :fill %>')" >
  <% else %>
    <div class="friend-image" style="background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')" >
  <% end %>
      <h1><%= @friend.user.first_name %> <%= @friend.user.last_name %></h1>
      <%= link_to "Book #{@friend.user.first_name} for #{@friend.price}€ a day", new_friend_booking_path(@friend), class:"btn btn-secondary"%>
    </div>

  <div class="friend-info">

    <div class="friend-details">
      <div class="About">
        <h5>About Me:</h5>
        <p><%= @friend.about_me %></p>
      </div>

      <div class="Zodiac">
        <h5>My Zodiac Sign:</h5>
        <p><%= @friend.zodiac_sign %></p>
      </div>

      <div class="Hobbies">
        <h5>My Hobbies:</h5>
        <p><%= @friend.hobbies %></p>
      </div>

      <div class="Pronouns">
        <h5>My Pronouns:</h5>
        <p><%= @friend.pronouns %></p>
      </div>
    </div>

    <div class="price-availability">
      <div class="Availability">
          <h5>My Availability:</h5>
          <p><%= @friend.availability %></p>
        </div>

        <div class="Pricing">
          <h5>My Pricing per day:</h5>
          <p>Price:<%= @friend.price %>€</p>
        </div>
    </div>


  </div>
</div>
