<div class="friend-container">

  <div class="friend-image" style="background-image: url('https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')" >
      <h1><%= @friend.user.first_name %> <%= @friend.user.last_name %></h1>
      <%= link_to "Book #{@friend.user.first_name} for #{@friend.price}€ a day", new_friend_booking_path(@friend), class:"btn btn-secondary"%>
  </div>

  <div class="friend-info">

    <div class="friend-details">
      <div class="About">
        <h5>About Me:</h5>
        <p><%= @friend.about_me %></p>
      </div>

      <div class="Zodiac">
        <h5>My Zodiac Sign:</h5>
        <p><%= @friend.zodiac_sign %></p>
      </div>

      <div class="Hobbies">
        <h5>My Hobbies:</h5>
        <p><%= @friend.hobbies %></p>
      </div>

      <div class="Pronouns">
        <h5>My Pronouns:</h5>
        <p><%= @friend.pronouns %></p>
      </div>
    </div>

    <div class="price-availability">
      <div class="Availability">
          <h5>My Availability:</h5>
          <p><%= @friend.availability %></p>
        </div>

        <div class="Pricing">
          <h5>My Pricing per day:</h5>
          <p>Price:<%= @friend.price %>€</p>
        </div>
    </div>


  </div>
</div>
