<div class="navbar navbar-expand-sm navbar-light navbar-airbnb">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://img.freepik.com/premium-vector/community-logo-design-vector_67715-512.jpg?w=2000" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="buttons">
      <button class="anywhere"><%= link_to "Anywhere", "#", class: "btn btn-ghost" %></button>
      <span class="lines"></span>
      <button class="anyweek"><%= link_to "Anyweek", "#", class: "btn btn-ghost" %></button>
      <span class="lines"></span>
      <button class="search"><%= link_to "Search for a friend", "#", class: "btn btn-ghost" %></button>
    </div>
    <div class="secondpart">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjoXyX2SJzeszHi_uHo-S0kWJKjbVhIB4atb1g7LxIp1wdjqrP9Bz7zIHBVBnmBuJorFc&usqp=CAU", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end">
              <%= link_to "Sign Up", "#", class: "dropdown-item" %>
              <%= link_to "Log in", "#", class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
