<div class="Profile-container">
  <div class="back to home page">
    <%= link_to 'Back to home page', friends_path(@friend) %>
  </div>
  <div class="friend-profile-container">
    <div class="card-trip">
      <img src="https://assets.materialup.com/uploads/b6c33467-82c3-442c-a2dc-c089bbff9fa1/preview.png"/>
      <div class="card-trip-infos">
        <div>
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <h5>Email:</h5>
          <p><%= @user.email %></p>
          <h5>Address:</h5>
          <p><%= @user.address %></p>
          <h5>Age</h5>
          <p><%= @user.age %></p>
          <h5>Birthday</h5>
          <p><%= @user.birth_date %></p>
          <h5>Gender</h5>
          <p><%= @user.gender %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="My Bookings">
  <h1>my bookings</h1>
  <% @bookings.each do |booking|%>
    <li> <%= booking.friend.user.first_name %> - <%= booking.occurs_on %> </li>
    <div>
    <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </div>
    <% end %>
  </div>

  <div class="Become a friend">
    <%= link_to 'Become a friend', new_friend_path(@friend) %>
  </div>
</div>
